<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	
	<form method="POST"  enctype="multipart/form-data">
	 {% csrf_token %}
		<fieldset class="form-group">
			<legend class="border-bottom mb-4">Student Registration</legend>
			{% for i in u_form %}
				{{i.label_tag}} {{i}} {{i.errors|striptags}} <br><br>
			{% endfor %} 
		




			{{ p_form.as_p }}
			<!-- <form action="" method="post">

				<input type="text" name="filename" placeholder="Enter file here"> 
				<input type="file" multiple name="upload">

			</form> -->
		
		</fieldset>
		<button type="submit">Submit</button>
	</form><br><br>
	<a href="{% url  'login' %}"><input type="submit" value="login"></a>

</body>
</html>